Importing relevant libraries

In [1]:
library(tidyverse)
library(readxl)
library(repr)
options(repr.matrix.max.rows = 10)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.0     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.1     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Loading data

In [2]:
cius_2020_dem <- read_excel("data/CIUS_2020_DEM.xlsx") 
cius_2018_dem <- read_excel("data/CIUS_2018_DEM.xlsx")
cius_2020_dem
cius_2018_dem

      GENDER AGE_GRP UI_060A
1     1      6       4
2     2      6       2
3     2      2       4
4     2      3       6
5     2      6       2
⋮     ⋮      ⋮       ⋮
17405 2      2        3
17406 1      2        5
17407 1      4        5
17408 1      4        4
17409 2      2       96

      GENDER AGE_GRP UI_210A
1     2      03      4
2     1      05      6
3     1      05      2
4     2      04      1
5     1      01      3
⋮     ⋮      ⋮       ⋮
13806 1      06      1
13807 1      03      4
13808 1      04      1
13809 2      05      3
13810 2      06      2

Cleaning and filtering data

In [ ]:
cius_2020_dem_clean <- cius_2020_dem |> filter(UI_060A <= 6) |> select(GENDER, AGE_GRP)
cius_2018_dem_clean <- cius_2018_dem |> mutate(AGE_GRP = as.numeric(AGE_GRP)) |> filter(UI_210A <= 5) |> select(GENDER, AGE_GRP)
cius_2020_dem_clean
cius_2018_dem_clean

Determining number of respondents by gender in 2018

In [ ]:
gender_2018 <- cius_2018_dem_clean |> group_by(GENDER) |>
    summarize(count = n()) |>
bind_cols("GENDER_LABEL" = c("male", "female"))
gender_2018

Determining number of respondents by gender in 2020

In [ ]:
gender_2020 <- cius_2020_dem_clean |> group_by(GENDER) |>
    summarize(count = n()) |>
bind_cols("GENDER_LABEL" = c("male", "female"))
gender_2020

In [ ]:
Plotting gender demographics data

In [ ]:
gender_2018_plot <- ggplot(gender_2018, aes(x = GENDER_LABEL, y = count, fill = GENDER_LABEL)) + 
    geom_bar(stat = "identity") + 
   xlab("Gender") +
   ylab("Number of respondents") +
   labs(fill = "Gender") +
  theme(text = element_text(size = 16)) +
ggtitle("Gender distribution of respondents in 2018")
gender_2018_plot
ggsave("images/gender_2018_plot.png", gender_2018_plot)

In [ ]:
gender_2020_plot <- ggplot(gender_2020, aes(x = GENDER_LABEL, y = count, fill = GENDER_LABEL)) +
    geom_bar(stat = "identity") + 
   xlab("Gender") +
   ylab("Number of respondents") +
   labs(fill = "Gender") +
  theme(text = element_text(size = 16)) +
ggtitle("Gender distribution of respondents in 2020")
gender_2020_plot
ggsave("images/gender_2020_plot.png", gender_2020_plot)

Determining number of respondents by age group in 2018

In [ ]:
age_2018 <- cius_2018_dem_clean |> group_by(AGE_GRP) |>
    summarize(count = n()) |>
bind_cols("AGE_LABEL" = c("15-24", "25-34", "35-44", "45-54", "55-64", "65+"))
age_2018

Determining number of respondents by age group in 2020

In [ ]:
age_2020 <- cius_2020_dem_clean |> group_by(AGE_GRP) |>
    summarize(count = n()) |>
bind_cols("AGE_LABEL" = c("15-24", "25-34", "35-44", "45-54", "55-64", "65+"))
age_2020

Plotting age group demographics data

In [ ]:
age_2018_plot <- ggplot(age_2018, aes(x = AGE_LABEL, y = count, fill = AGE_LABEL)) + 
    geom_bar(stat = "identity") + 
   xlab("Age group") +
   ylab("Number of respondents") +
   labs(fill = "Age group") +
  theme(text = element_text(size = 16)) +
ggtitle("Age distribution of respondents in 2018")
age_2018_plot
ggsave("images/age_2018_plot.png", age_2018_plot)

In [ ]:
age_2020_plot <- ggplot(age_2020, aes(x = AGE_LABEL, y = count, fill = AGE_LABEL)) + 
    geom_bar(stat = "identity") + 
   xlab("Age group") +
   ylab("Number of respondents") +
   labs(fill = "Age group") +
  theme(text = element_text(size = 16)) +
ggtitle("Age distribution of respondents in 2020")
age_2020_plot
ggsave("images/age_2020_plot.png", age_2020_plot)